@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;0,6..12,900;1,6..12,700&display=swap');

* {
    box-sizing: border-box;
  }
  
  :root {
    --color-primary: #2ebdff;
  }
  
  html,
  body,
  .wrapper {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: "Euclid Circular A";
    background: #fef4f4;
    color: #f9f9f9;
  }
  
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background: #17181a;
    width: 100%;
    z-index: 1;
  }
  
  .navbar h1 {
    display: none;
    flex: 2 1 auto;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 0 16px;
  }
  
  @media (width >= 440px) {
    .navbar {
      top: 0;
      bottom: auto;
    }
  
    .tabs {
      scale: 0.8;
      width: 200px;
    }
  
    .navbar h1 {
      display: block;
    }
  }
  
  .tabs {
    flex: 1 1 auto;
  }
  
  .tabs > input {
    display: none;
  }
  
  h2 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 400;
  }
  
  label {
    position: relative;
    z-index: 2;
    padding: 20px;
    font-size: 15px;
    flex: 1 1 auto;
    min-width: 58px;
    opacity: 0.35;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
  }
  
  .buttons {
    position: relative;
    display: flex;
  }
  
  .underline {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -3px;
    width: 25%;
    display: grid;
    place-items: center;
    transition: 0.3s;
  }
  
  .underline::after {
    content: "";
    display: block;
    translate: 0 -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-primary);
  }
  
  .tabs input:nth-child(1):checked ~ .buttons .underline {
    translate: 0 0;
  }
  
  .tabs input:nth-child(2):checked ~ .buttons .underline {
    translate: 100% 0;
  }
  
  .tabs input:nth-child(3):checked ~ .buttons .underline {
    translate: 200% 0;
  }
  
  .tabs input:nth-child(4):checked ~ .buttons .underline {
    translate: 300% 0;
  }
  
  .tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
  .tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
  .tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
  .tabs input:nth-child(4):checked ~ .buttons label:nth-child(4) {
    opacity: 1;
    color: black;
  }

  .titleCBTIS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 10%;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    transition: all 0.3s ease 0s;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 22%;
    z-index: -1;
    width: auto;
    height: 40%;
  }
  
  .imageCBTIS {
    border: solid 10px #17181a;
    border-radius: 25px 0 25px 0;
  }

  @media (width <= 440px) {
    .titleCBTIS {
      top: auto;
      transition: all 0.3s ease 0s;
      background-color: #17181a;
      color: whitesmoke;
    }

    .logo {
      top: 17%;
      width: auto;
      height: 25%;
      transition: all 0.3s ease 0s;

    }
  }
  
  .message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    position: relative;
    top: 30%;
    color: #f9f9f9;
    transition: all 0.3s ease 0s;
  }

  .message:hover {
    background-color: #fef4f4;
    color: #72eb3a;
    transition: all 0.3 ease 0s;
    transform: scale(1.1);
  }

  .first {
    width: auto;
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    padding: 30px;
    z-index: -1;
    border-radius: 20px 10px;
  }

  .line {
    background-color: #17181a;
    color: #17181a;
    position: relative;
    top: 30%;
    z-index: -1;
  }

  .Carreras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #17181a;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    top: 29%;
    z-index: -1;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 39%;
  }

  .container-carousel {
    position: relative;
    width: 600px;
    height: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    color: #17181a;
    z-index: -1;
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

@media (width <= 440px) {
  .container-carousel {
    width: 200px;
    height: 200px;
  }
}

.menu-tec {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #17181a;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  top: 50%;
  border: solid 10px #e0e0e0;
  align-items: center;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.menu-tec:hover {
  background-color: #17181a;
  color: #fff;
  transition: all 0.3 ease 0s;
  transform: scale(1.1);
}

.list {
  padding: 10px;
}

.info-tenicas {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #17181a;
  position: relative;
  top: 60%;
  font-family: 'Nunito Sans', sans-serif;
  align-items: center;
}

.button.dark-single {
  --background: none;
  --rectangle: #242836;
  --success: #4BC793;
}
.button.white-single {
  --background: none;
  --rectangle: #F5F9FF;
  --arrow: #275efe;
  --success: #275efe;
  --shadow: rgba(10, 22, 50, .1);
}
.button.dark {
  --background: #242836;
  --rectangle: #1C212E;
  --arrow: #F5F9FF;
  --text: #F5F9FF;
  --success: #2F3545;
}

.button {
  --background: #275efe;
  --rectangle: #184fee;
  --success: #4672f1;
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}
.button ul {
  margin: 0;
  padding: 16px 40px;
  list-style: none;
  text-align: center;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
}
.button ul li:not(:first-child) {
  top: 16px;
  left: 0;
  right: 0;
  position: absolute;
}
.button ul li:nth-child(2) {
  top: 76px;
}
.button ul li:nth-child(3) {
  top: 136px;
}
.button > div {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--rectangle);
}
.button > div:before, .button > div:after {
  content: "";
  display: block;
  position: absolute;
}
.button > div:before {
  border-radius: 1px;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 17px;
  margin: -9px 0 0 -1px;
  background: var(--arrow);
}
.button > div:after {
  width: 60px;
  height: 60px;
  transform-origin: 50% 0;
  border-radius: 0 0 80% 80%;
  background: var(--success);
  top: 0;
  left: 0;
  transform: scaleY(0);
}
.button > div svg {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -10px;
  fill: none;
  z-index: 1;
  stroke-width: 2px;
  stroke: var(--arrow);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button.loading ul {
  -webkit-animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:before {
  -webkit-animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:after {
  -webkit-animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div svg {
  -webkit-animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

@-webkit-keyframes text {
  10%, 85% {
    transform: translateY(-100%);
  }
  95%, 100% {
    transform: translateY(-200%);
  }
}

@keyframes text {
  10%, 85% {
    transform: translateY(-100%);
  }
  95%, 100% {
    transform: translateY(-200%);
  }
}
@-webkit-keyframes line {
  5%, 10% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(0);
  }
  75%, 100% {
    transform: translateY(30px);
  }
}
@keyframes line {
  5%, 10% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(0);
  }
  75%, 100% {
    transform: translateY(30px);
  }
}
@-webkit-keyframes svg {
  0%, 20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%, 89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%, 89% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}
@keyframes svg {
  0%, 20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%, 89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%, 89% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}
@-webkit-keyframes background {
  10% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(0.15);
  }
  65% {
    transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%, 100% {
    border-radius: 0;
  }
  75%, 100% {
    transform: scaleY(1);
  }
}
@keyframes background {
  10% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(0.15);
  }
  65% {
    transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%, 100% {
    border-radius: 0;
  }
  75%, 100% {
    transform: scaleY(1);
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

 .container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 70%;
}
 .container2 > div {
  flex-basis: 100%;
  width: 0;
}
 .container2 .button {
  margin: 16px;
}
@media (max-width: 400px) {
  body .container2 .button {
    margin: 12px;
  }
}
 .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

.dribbble img {
  display: block;
  height: 28px;
}

.line1 {
  background-color: #17181a;
  color: #17181a;
  position: relative;
  top: 75%;
  z-index: -1;
  transition: all 0.3s ease 0s;
 }

 .social-media {
  display: flex;
  flex-direction: row;
  color: #17181a;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  top: 80%;
  justify-content: center;
 }

 .buttot {
  min-width: 20%;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 90%;
  z-index: -1;
}

.buttot #ae {
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  background: #17181a;
  color: #f1f1f1;
  border-radius: 50% 50% 50% 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}
.buttot #af {
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  background: #17181a;
  color: #f1f1f1;
  border-radius: 50% 50% 50% 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}


.buttot #ai {
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  background: #17181a;
  color: #f1f1f1;
  border-radius: 50% 50% 50% 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}



.buttot #ae:hover {
  color: #fff;
  background-color: #184fee;
  transform: scale(1.2);
}

.buttot #af:hover {
  color: #fff;
  background: linear-gradient(240deg,#ff11c7d4,#f789ffd4,#ff2525d4);
  transform: scale(1.2);
}

.buttot #ad:hover {
  color: red;
  background-color: whitesmoke;
  transform: scale(1.2);
}

.buttot #ai:hover {
  color: red;
  background-color: whitesmoke;
  transform: scale(1.2);
}


.line2 {
  background-color: #17181a;
  color: #17181a;
  position: relative;
  top: 100%;
  z-index: -1;
  transition: all 0.3s ease 0s;
}