@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;0,6..12,900;1,6..12,700&display=swap');

* {
    box-sizing: border-box;
  }
  
  :root {
    --color-primary: #2ebdff;
  }
  
  html,
  body,
  .wrapper {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: "Euclid Circular A";
    background: #f9f9f9;
    color: #f9f9f9;
  }
  
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background: #17181a;
    width: 100%;
    z-index: 1;
  }
  
  .navbar h1 {
    display: none;
    flex: 2 1 auto;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 0 16px;
  }
  
  @media (width >= 440px) {
    .navbar {
      top: 0;
      bottom: auto;
    }
  
    .tabs {
      scale: 0.8;
      width: 200px;
    }
  
    .navbar h1 {
      display: block;
    }
  }
  
  .tabs {
    flex: 1 1 auto;
  }
  
  .tabs > input {
    display: none;
  }
  
  h2 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 400;
  }
  
  label {
    position: relative;
    z-index: 2;
    padding: 20px;
    font-size: 15px;
    flex: 1 1 auto;
    min-width: 58px;
    opacity: 0.35;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
  }
  
  .buttons {
    position: relative;
    display: flex;
  }
  
  .underline {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -3px;
    width: 25%;
    display: grid;
    place-items: center;
    transition: 0.3s;
  }
  
  .underline::after {
    content: "";
    display: block;
    translate: 0 -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-primary);
  }
  
  .tabs input:nth-child(1):checked ~ .buttons .underline {
    translate: 0 0;
  }
  
  .tabs input:nth-child(2):checked ~ .buttons .underline {
    translate: 100% 0;
  }
  
  .tabs input:nth-child(3):checked ~ .buttons .underline {
    translate: 200% 0;
  }
  
  .tabs input:nth-child(4):checked ~ .buttons .underline {
    translate: 300% 0;
  }
  
  .tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
  .tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
  .tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
  .tabs input:nth-child(4):checked ~ .buttons label:nth-child(4) {
    opacity: 1;
    color: black;
  }

  .titleCBTIS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 10%;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    transition: all 0.3s ease 0s;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 22%;
    z-index: -1;
    width: auto;
    height: 40%;
  }
  
  .imageCBTIS {
    border: solid 10px #17181a;
    border-radius: 25px 0 25px 0;
  }

  @media (width <= 440px) {
    .titleCBTIS {
      top: auto;
      transition: all 0.3s ease 0s;
      background-color: #17181a;
      color: whitesmoke;
    }

    .logo {
      top: 17%;
      width: auto;
      height: 25%;
      transition: all 0.3s ease 0s;

    }
  }
  
  .message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    position: relative;
    top: 30%;
    color: #f9f9f9;
  }

  .first {
    width: auto;
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    padding: 30px;
    z-index: -1;
    border-radius: 20px 10px;
  }

  .line {
    background-color: #17181a;
    color: #17181a;
    position: relative;
    top: 30%;
    z-index: -1;

  }
  